//colors
$bacground-color-question: rgb(36,92,93);
$font-color-question: #ffffff;
$font-color-score: #ffffff;
$bacground-color-score: rgb(126,106,159);
$bacground-color-answer: rgb(162,202,175);
$bacground-color-answer-letter: rgb(74,129,123);
$color-answer-letter: #ffffff;
$color-correct-answer: #078f71;
$color-wrong-answer: #fc2929;
$border-color-answer: #ffffff;
$button-color: rgb(189,128,169);
$button-font-color: #ffffff;
$background-result: #195d5f;
//fonts
$font-family: 'Roboto', sans-serif;